/Application.Core/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/Application.Core/obj
/Application/bin
/Application/obj
/Module.MangaDownload/bin
/Module.MangaDownload/obj
/Application.Core.Interfaces/obj
/Application.Core/bin
/.idea
/Application.Core.Interfaces/bin
MangaDownload.sln.DotSettings.user
